<ion-view view-title="HISTORIAL">
	<ion-content class="margenes-content" ng-controller="DatosDiagnostico">
		<div class="centrar">
			<img src="img/analisis.png" class="head-img">
		</div>

		<div class="card">
	  	<div class="item item-divider centrar">

		  Historial del paciente
		  <p>{{response8}}</p>
		  </div>
		  <div class="item item-text-wrap">
		    	  	<p>{{response10}}</p>
		    	  	<p>{{response11}}</p> 
		    	  	<p>{{response12}}</p> 
		    	  	<p>{{response13}}</p>     	 
		  </div>
		  <div class="item item-divider centrar">
		  <p><b>Realizado por:</b> {{response9}} </p>
		  </div>
		</div>

	</ion-content>
</ion-view>