
<ion-view view-title="HOME ENFERMERO"  class="fondo">
	
	<ion-content class="margenes-content" ng-controller="DatosUsuario">	
	<div class="centrar">
		<img src="img/nurse.png" class="head-img">
	</div>
	<div class="card">
  <div class="item item-divider centrar">

	    Datos del Asistente
	  </div>
	  <div class="item item-text-wrap">
	    	  	<p>{{response3}}</p>
	    	  	<p>{{response4}}</p>
	    	  	<p>{{response5}}</p>
	    	  	<p>{{response6}}</p>
	    	  	<p>{{response7}}</p>    	 
	  </div>
	  <div class="item item-divider centrar">
	    Buen dia
	  </div>
	</div>
	</ion-content>

</ion-view>
