<ion-tabs class="tabs-striped tabs-background-transparente tabs-color-active-positive derecha" ng-controller="DestruirVariables">

 
  <ion-tab title="Inicio" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="tab2.nuevacita">
    <ion-nav-view name="cita"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Buscar" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" ui-sref="tab2.receta">
    <ion-nav-view name="recetas"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title=Salir"" icon="ion-android-exit" ui-sref="login">
  </ion-tab>


</ion-tabs>
