/* Empty. Add your own CSS if you like */
.img-mediana{
	width: 130px;
	height: 130px;
}

.centrar{
	text-align: center;
}

.full-ancho{
	width: 100%;
}

.full-alto{
	height: 100%;
}

.espacio-arriba-abajo{
	margin-top: 15px;
	margin-bottom: 15px;
}

.espacio-derecha-izquierda{
	margin-right: 10%;
	margin-left: 10%;
}

.titulo-login-azul{
	color: #387ef5;

}
.titulo-login-rojo{
	color: #ef473a;

}
.fondo{
	background-image: url(../img/fondoapp.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.transparente{
	background-color: transparent !important;
	border: none;
}
.contenedor{
	font-size: 8px;
	height: 33.33%;
	width: 52px;
}
.tabs-striped.tabs-background-transparente .tabs {
  background-color: transparent;
 
}
.costados-botones{
	padding-left: 10px;
	padding-right: 10px;
}

.margenes-content{
	padding: 5%;
}
.head-img{
	width: 120px;
	height: 120px;
}
.mucho-abajo{
	margin-bottom: 35px;
}